{{#each userFound}}
<h4>{{firstName}} {{lastName}} ({{username}})</h4>
<form method="post" action="/add/added">
    <button type="submit" name="addFriend" value="{{id}}">Add friend</button>
</form>
{{else}}
<p>No users found!</p>
{{/each}}