{{#if user}}
    <div>
        <div class="card">
            <div class="card-content">
                <h3>Lisa sündmus</h3>
                <form id="addEventForm" method="post" action="/addevent">
                    <div class="form-group">
                        <label>Sündmuse nimi</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Sündmuse kirjeldus</label>
                        <textarea class="form-control" name="eventDescription" required></textarea>
                    </div>
                    <button type="submit">Lisa</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Sündmused, kuhu kasutaja on kaasatud ja on unconfirmed -->
    <h2>Kinnitamata sündmused:</h2>
    {{#each otherEventsUnconfirmed}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h3>{{this.[0].title}}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p>{{this.[0].description}}</p>
                    <h4>Olen võlgu: {{this.[0].amount}} </h4>
                    <form method="post" action="/confirm">
                        <button class="accept" type="submit" name="confirmPayment" value="{{this.[0].paymentId}}">
                            Kinnita nõue!
                        </button>
                    </form>
                    <form method="post" action="/decline">
                        <button class="decline" type="submit" name="declinePayment" value="{{this.[0].paymentId}}">
                            Tühista nõue!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Sündmused, mille omanik kasutaja on -->
    <h2>Minu sündmused:</h2>

    {{#each myEvents}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h3>{{this.[0].title}}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p>{{this.[0].description}}</p>
                    <h4>Võlgnikud: </h4>
                    {{#each this}}
                        <div>
                            <p>{{payerFName}} {{payerLName}} {{amount}}</p>
                        </div>
                    {{/each}}
                    <form class="addPayerForm" method="post" action="/addpayer">
                        <div class="form-group">
                            <label>Võlgniku kasutajanimi</label>
                            <input type="text" name="friendName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Summa</label>
                            <input type="text" name="friendPayAmount" class="form-control" required>
                        </div>
                        <input type="hidden" name="eventIdAddPayer" value={{this.[0].eventId}} class="form-control"
                               required>
                        <button class="addPayerButton" type="submit">Lisa</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Sündmused, kuhu kasutaja on kaasatud ja on confirmed -->
    <h2>Kinnitatud sündmused:</h2>
    {{#each otherEventsConfirmed}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h2>{{this.[0].title}}</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p>{{this.[0].description}}</p>
                    <h4>Olen võlgu: {{this.[0].amount}} </h4>
                </div>
            </div>
        </div>
    {{/each}}

{{else}}
    <h1><span itemprop="name">Biller</span> - rahaasjad korda vms!</h1>
    <p itemscope="description">
        Biller on veebileht, kus saad mugavalt järge pidada, kui palju oled oma sõpradele laenanud ja neilt endilt laenu
        võtnud.
    </p>
    <small itemprop="team"><b>Billeri loojad:</b>
        <table>
            <tr itemprop="person">
                <td itemprop="name">Kaspar Valk</td>
                <td itemprop="job">Front- ja back-end</td>
            </tr>
            <tr itemprop="person">
                <td itemprop="name">Erik Martin Vetemaa</td>
                <td itemprop="job">Front- ja back-end</td>
            </tr>
            <tr itemprop="person">
                <td itemprop="name">Oliver Vainumäe</td>
                <td itemprop="job">Front- ja back-end</td>
            </tr>
        </table>
    </small>
{{/if}}
