{{#if user}}
    <div class="card">
        <div class="card-content">
            <h3>Lisa uus sündmus</h3>
            <form id="addEventForm" method="post" action="/addevent">
                <div class="form-group">
                    <label for="eventname">Sündmuse nimi</label>
                    <input id="eventname" type="text" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="eventdesc">Sündmuse kirjeldus</label>
                    <textarea id="eventdesc" class="form-control" name="eventDescription" required></textarea>
                </div>
                <button type="submit">Lisa sündmus</button>
            </form>
        </div>
    </div>

    <!-- Sündmused, kuhu kasutaja on kaasatud ja on unconfirmed -->
    <h2 class="category">Kinnitamata sündmused:</h2>
    {{#each otherEventsUnconfirmed}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h3>{{this.[0].title}}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p class="description">Kirjeldus: {{this.[0].description}}</p>
                    <h4>Olen võlgu: {{this.[0].amount}} </h4>
                    <form method="post" action="/confirm">
                        <button class="accept" type="submit" name="confirmPayment" value="{{this.[0].paymentId}}">
                            Kinnita nõue!
                        </button>
                    </form>
                    <form method="post" action="/decline">
                        <button class="decline" type="submit" name="declinePayment" value="{{this.[0].paymentId}}">
                            Tühista nõue!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Sündmused, mille omanik kasutaja on -->
    <h2 class="category">Minu loodud sündmused:</h2>

    {{#each myEvents}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h3>{{this.[0].title}}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p class="description">Kirjeldus: {{this.[0].description}}</p>
                    <h4>Võlgnikud: </h4>
                    <p>
                        {{#each this}}
                            {{payerFName}} {{payerLName}} {{amount}} <br>
                        {{/each}}
                    </p>
                    <form class="addPayerForm" method="post" action="/addpayer">
                        <h4>Lisa võlgnikke:</h4>
                        <div class="new-lender">
                            <div class="form-group">
                                <label for="debtor">Võlgniku kasutajanimi</label>
                                <input id="debtor" type="text" name="friendName" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="amount">Summa</label>
                                <input id="amount" type="text" name="friendPayAmount" class="form-control" required>
                            </div>

                        </div>
                        <input type="hidden" name="eventIdAddPayer" value={{this.[0].eventId}} class="form-control"
                               required>
                        <button class="addPayerButton" type="submit">Lisa võlgnik</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Sündmused, kuhu kasutaja on kaasatud ja on confirmed -->
    <h2 class="category">Kinnitatud sündmused:</h2>
    {{#each otherEventsConfirmed}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h2>{{this.[0].title}}</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <h4>Looja: {{this.[0].receiverFName}} {{this.[0].receiverLName}}</h4>
                    <p class="description">Kirjeldus: {{this.[0].description}}</p>
                    <h4>Olen võlgu: {{this.[0].amount}} </h4>
                </div>
            </div>
        </div>
    {{/each}}

{{else}}
    <div itemscope itemtype="http://schema.org/WebSite">
        <h1><span itemprop="name">Biller</span> - rahaasjad korda vms!</h1>
        <p itemprop="description">
            Biller on veebileht, kus saad mugavalt järge pidada, kui palju oled oma sõpradele laenanud ja neilt endilt laenu
            võtnud.
        </p>
    </div>
    <strong>Billeri loojad:</strong>
        <table>
            <tr itemscope itemtype="http://schema.org/Person">
                <td itemprop="name">Kaspar Valk</td>
                <td itemprop="jobTitle">Front- ja back-end</td>
            </tr>
            <tr itemscope itemtype="http://schema.org/Person">
                <td itemprop="name">Erik Martin Vetemaa</td>
                <td itemprop="jobTitle">Front- ja back-end</td>
            </tr>
            <tr itemscope itemtype="http://schema.org/Person">
                <td itemprop="name">Oliver Vainumäe</td>
                <td itemprop="jobTitle">Front- ja back-end</td>
            </tr>
        </table>
{{/if}}
