<h1>Profiil</h1>

<hr>

<h3>Sõbrakutsed</h3>
<div class="bilansid">
    {{#each friendRequests}}
        <div class="card">
            <div class="card-header">
                <div class="card-content">
                    <h4>{{firstName}} {{lastName}} ({{username}})</h4>
                </div>
            </div>
            <div class="card-content">
                <form method="post" action="/profiil/accept">
                    <button class="accept" type="submit" name="acceptRequest" value="{{id}}">Nõustu</button>
                </form>
                <form method="post" action="/profiil/decline">
                    <button class="decline" type="submit" name="declineRequest" value="{{id}}">Keeldu</button>
                </form>
            </div>
        </div>
    {{else}}
        <h4>Sõbrakutsed puuduvad</h4>
    {{/each}}
</div>

<hr>

<h3>Sõprade arv: {{totalFriends}}</h3>
<button id="findAllFriends">Vaata oma sõpru</button>
<div id="users"></div>

<hr>

<h3>Profiilipilt</h3>
<div class="card profile-image">
    <div class="card-header">
        <div class="image-box">
            {{#each picId}}
                <img src="" id="pfp" data-src="{{this}}" height="200" width="200">
            {{/each}}
        </div>
    </div>

    <div class="card-content">
        <form method="post" enctype="multipart/form-data" action="/profiil/upload">
            <input class="choose-file" id="avatar" type="file" name="avatar">
            <br>
            <button type="submit">Lisa profiilipilt</button>
        </form>

        <form method="post" action="/profiil/remove">
            <button type="submit">Eemalda profiilipilt</button>
        </form>
    </div>
</div>
