<div class="center-horizontal">
    <div class="register">
        <h3>Account Register</h3>
        <form action="/signup" method="post">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName" value="{{firstName}}" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName" value="{{lastName}}" required>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" value="{{username}}" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" value="{{email}}" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" value="{{password}}" required>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="password2" class="form-control" value="{{password2}}" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>