<h1>Statistika</h1>

<hr>

<p>Enim kasutatud brauser külastajate seas: <strong>{{mostUsedBrowser}}</strong> <br>
Enim kasutatud OP-süsteem külastajate seas: <strong>{{mostUsedOS}}</strong></p>

<hr>

<h2>Saabumislehed (landing pages)</h2>
<table>
    {{#each landingPages}}
    <tr>
        <th>{{@key}}: </th>
        <th><strong>{{this}}</strong></th>
    </tr>
    {{/each}}
</table>

<hr>

<h2>Külastamise populaarsus kellaajati tulpdiagrammina</h2>
<div id="hoursChart"></div>

<hr>

<h2>Külastamise populaarsus kellaajati tabelina</h2>
<table>
    {{#each hours}}
    <tr>
        <th>{{@key}}: </th>
        <th id="{{@key}}"><strong>{{this}}</strong></th>
    </tr>
    {{/each}}
</table>

