<h1>Statistika</h1>

<hr>

<p>Enim kasutatud brauser külastajate seas: <b>{{mostUsedBrowser}}</b> <br>
Enim kasutatud OP-süsteem külastajate seas: <b>{{mostUsedOS}}</b></p>

<hr>

<h3>Saabumislehed (landing pages)</h3>
<table>
    {{#each landingPages}}
    <tr>
        <th>{{@key}}: </th>
        <th><b>{{this}}</b></th>
    </tr>
    {{/each}}
</table>

<hr>

<h3>Külastamise populaarsus kellaajati tulpdiagrammina</h3>
<div id="hoursChart"></div>

<hr>

<h3>Külastamise populaarsus kellaajati tabelina</h3>
<table>
    {{#each hours}}
    <tr>
        <th>{{@key}}: </th>
        <th id="{{@key}}"><b>{{this}}</b></th>
    </tr>
    {{/each}}
</table>

